.app-container {
  display: flex;
  flex-direction: column;
  background-color: #1e2329;
  color: #fff;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distributes space between items */
  padding: 1rem;
  background-color: #1e2329;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative; /* For absolute positioning of h1 if needed */
}

.back-button {
  background: none;
  border: none;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}

h1 {
  margin: 0; /* Remove default margin */
  font-size: 1.2rem;
  font-weight: 500;
  flex-grow: 1; /* Allows h1 to take available space */
  text-align: center; /* Centers the text within h1 */
}

.tab-nav {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tab-link {
  flex: 1;
  text-align: center;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  position: relative;
  transition: color 0.3s ease;
}

.tab-link.active {
  color: #02C076; /* Active text color */
}

.tab-link.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30%; /* Smaller underline width */
  height: 2px; /* Thickness of the underline */
  background-color: #02C076; /* Color of the underline */
  border-radius: 2px;
}

.no-data {
  text-align: center;
  color: #02C076;
}

.icon-container {
  margin-bottom: 1rem;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
  background-color: #1e2329;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 0.75rem;
  gap: 0.25rem;
}

.nav-item.active {
  color: #F0B90B;
}

.nav-item svg {
  width: 20px;
  height: 20px;
}