.main-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
   /* Center items horizontally */
    min-height: calc(100vh - 120px); /* Subtract header and nav height */
    /* Center text if applicable */
    font-family: din, Helvetica, Arial, "Roboto,PingFang SC", sans-serif;
    padding: 20px;
    overflow: hidden;
  }
  
  .main-content img {
    max-width: 100%; /* Prevent image from overflowing */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add spacing below the image */
  }
  
  .main-content p {
    font-size: 16px; /* Adjust text size */
    color: white; /* Optional: Set text color */
    text-align: center;
    margin-top: 10px;
  }
  



  
  /* Container for each row */
  .trade-data-row {
    display: flex;
    justify-content: space-between; /* Space between text and value */
     /* Vertically center the content */
    margin-bottom: 10px; /* Space between rows */
  }
  
  /* Style for the labels (text on the left) */
  .trade-data-label {
    font-weight: bold;
    color: white; /* Dark gray color for labels */
    text-align: left;
  }
  
  /* Style for the values (text on the right) */
  .trade-data-value {
    color: white; /* Light gray color for values */
    text-align: right;
  }

  .no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px); /* Adjust for header and padding */
    padding: 20px;
  }

  .no-data img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }

  .no-data p {
    color: #8e98a7;
    font-size: 16px;
    margin: 0;
  } 