<main class="main-content">
  <div *ngIf="countdown>0; else noData">
    
    <div class="trade-data-row">
      <span class="trade-data-label">Name:</span>
      <span class="trade-data-value">{{ orderData.name }}</span>
    </div>
    <!-- <div class="trade-data-row">
      <span class="trade-data-label">Term Code:</span>
      <span class="trade-data-value">{{ orderData.termCode }}</span>
    </div> -->
    <div class="trade-data-row">
      <span class="trade-data-label">Opening Time:</span>
      <span class="trade-data-value">{{ orderData.openingTime }}</span>
    </div>
    <div class="trade-data-row">
      <span class="trade-data-label">Opening Price:</span>
      <span class="trade-data-value">{{ orderData.btcPrice }}</span>
    </div>
    <div class="trade-data-row">
      <span class="trade-data-label">Direction</span>
      <span class="trade-data-value" [ngStyle]="{'color': orderData.direction === 'up' ? 'green' : 'red'}"><b>{{ orderData.direction }}</b></span>
    </div>
    <div class="trade-data-row">
      <span class="trade-data-label">Time:</span>
      <span class="trade-data-value">{{ formatCountdown(countdown) }}</span>
    </div>
    
    <div class="trade-data-row">
      <span class="trade-data-label">Buy Amount:</span>
      <span class="trade-data-value">{{ orderData.amount }}</span>
    </div>
  </div>

  <ng-template #noData class="noData">
    <img class="noData" src="assets/images/empty-image.png">
  </ng-template>
</main>