/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  font-family: din, Helvetica, Arial, "Roboto,PingFang SC", sans-serif;}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffd700;
  --background-color: #1a1f2a;
  --secondary-background: #2a2f3a;
  --text-color: #ffffff;
  --secondary-text: #8e98a7;
  --negative-color: #ff4d4d;
}