<div class="login-container">
  <header class="header">
    <h1>Login</h1>
  </header>


  <main class="main-content">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Coinstore Logo" />
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="custom-login-form">
      <div class="form-row">
        <label for="email">Email Address</label>
        <input 
          type="email" 
          id="email"
          formControlName="email"
          placeholder="Please Enter Your Email Account"
        />
      </div>
      <hr/>
      <div class="form-row">
        <label for="password">Password</label>
        <div class="input-with-icon">
          <input 
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
            placeholder="Please Enter Password"
          />
          <span class="eye-icon" (click)="togglePasswordVisibility()">
            <img src="assets/images/eye-o.png" alt="Show/Hide" />
          </span>
        </div>
      </div>
      <hr />
      <div class="form-row">
        <label for="verificationCode">Verification Code</label>
        <div class="verification-row">
          <input 
            type="text"
            id="verificationCode"
            formControlName="verificationCode"
            placeholder="Please Enter Verification ..."
            maxlength="4"
          />
          <img [src]="captchaImageUrl" alt="Captcha" class="captcha-img" (click)="refreshCaptcha()" style="cursor:pointer;" title="Click to refresh" />
        </div>
      </div>
      <hr />
      <button type="submit" class="login-button" [disabled]="!loginForm.valid">
        Login
      </button>

      <div class="form-footer">
        <a routerLink="/signup" class="login-link">Sign Up Now</a>
      </div>
    </form>
    </main>
  </div>